<!DOCTYPE html>
<html>
<head>
    <title>Create Tamagotchi!</title>
</head>
<body> 
    <!-- This page will allow you to create a tamagotchi -->
    <form action='/status' method="post">
    <!-- DON'T FORGET THE method="post" WHEN USING HTTPPOST!!! -->
    <div class='form-group'>
      <label for='tama-name'>Enter a Name: </label>
      <input id='tama-name' name='tama-name' class='form-control' type='text'>
    </div>
    <button type='submit' class='btn'>Create!</button>
  </form>
</body>
</html>