<!DOCTYPE html>
<html>
<head>
    <title>All Tamagotchi</title>
</head>
<body> 
    <!-- This is the landing page of the website -->
    <h1>Tamagotchi Land!</h1>
<ul>
  @if (Model != null)
  {
    @foreach (var tama in Model)
    {
        <li><a href='/Status/@tama.GetId()'>@tama.GetId()</a> @tama.GetName()</li>
    }
  }
  else 
  {
    <p>You have no Tamagotchi!</p>
  }
</ul>
<a href='/Create'>Create a Tamagotchi!</a>
  </form>
</body>
</html>